# ---
# artefact_type: specification
# visibility: public
# audience: everyone
# form: text
# role: specification
# status: normative
# owner: system-architecture
# ---
#
# DISCLAIMER
# ----------
# This OpenAPI specification is NOT an official ECB or Eurosystem API.
#
# It is provided solely for EDUCATIONAL PURPOSES to demonstrate:
# - how functional, interface, and data-model specifications
#   can be realised as machine-readable APIs,
# - how traceability between artefacts can be made explicit,
# - how such artefacts can be governed and validated by automation.
#
# All content is derived from publicly available information
# and reasonable technical assumptions.
# No confidential, proprietary, or insider information is included.

openapi: 3.0.3

info:
  title: Participant Onboarding API
  version: "1.0.0"
  description: |
    **FICTIONAL SPECIFICATION** for the Digital Euro Service Platform (DESP) Onboarding Interface.
    
    This API defines the contract for PSPs to manage their lifecycle state within the Eurosystem platform.
    
    **Traceability:**
    - [SPEC-FUNC]: `onboarding-functional-spec.md` (Business Logic)
    - [SPEC-INT]: `onboarding-interfaces-spec.md` (Protocol behavior)
    - [SPEC-DATA]: `onboarding-data-model-spec.md` (Data Schemas)
    
  contact:
    name: System Architecture
    url: https://github.com/policy-to-production

# Defined in SPEC-INT: Component Inventory
servers:
  - url: https://api.access-gateway.eurosystem.eu/v1
    description: Digital Euro Access Gateway (COMP-EUR-05)

components:
  securitySchemes:
    # Trace: SEC-AUTH-01 (onboarding-interfaces-spec.md)
    mTLS:
      type: http
      scheme: mutual
      description: Mutual TLS using eIDAS Qualified Website Authentication Certificates (QWACs).

  parameters:
    # Trace: INT-TEC-01 (onboarding-interfaces-spec.md)
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
        format: uuid
      description: |
        Unique key to ensure safe retries. 
        Replayed requests with the same key MUST return the same result.

  schemas:
    # Trace: Section 2.1 Entity: Participant (onboarding-data-model-spec.md)
    Participant:
      type: object
      description: The authoritative participant record stored in DESP.
      required:
        - participant_id
        - bic
        - legal_name
        - role
        - lifecycle_state
      properties:
        participant_id:
          type: string
          format: uuid
          description: |
            Primary Key. Internal platform identifier.
            Trace: DAT-PAR-001
        bic:
          type: string
          pattern: '^[A-Z]{4}[A-Z]{2}[A-Z0-9]{2}([A-Z0-9]{3})?$'
          description: |
            Business Identifier Code. Natural Key.
            Trace: DAT-PAR-002, ONB-VAL-01
        legal_name:
          type: string
          maxLength: 120
          description: |
            Registered legal name.
            Trace: DAT-PAR-003
        role:
          type: string
          enum: [PSP, NCB, DISTRIBUTOR]
          description: |
            Operational role.
            Trace: DAT-PAR-004
        lifecycle_state:
          type: string
          enum: [DRAFT, SUBMITTED, VERIFIED, ACTIVE]
          description: |
            Current state in the onboarding workflow.
            Trace: DAT-PAR-005, SPEC-FUNC Section 2
        created_at:
          type: string
          format: date-time
          description: |
            Trace: DAT-PAR-006

    # Trace: Section 4.4 Error Format (onboarding-interfaces-spec.md)
    ProblemDetails:
      type: object
      properties:
        type: 
          type: string
        title: 
          type: string
        status: 
          type: integer
        detail: 
          type: string
        instance: 
          type: string

security:
  - mTLS: []

paths:
  /participants:
    post:
      summary: Create Draft Participant
      operationId: createParticipant
      description: |
        Creates a new participant record in DRAFT state.
        
        **Functional Trace:** Executes Transition `TR-01` ((null) -> DRAFT).
        **Interface Trace:** Corresponds to `STEP-SUB-01`.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [bic]
              properties:
                bic:
                  type: string
                  example: "DEUTDEFFXXX"
      responses:
        '201':
          description: Draft created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Participant'
        '400':
          description: Invalid BIC format (Trace ONB-VAL-01).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'

  /participants/{participant_id}:
    get:
      summary: Get Participant Status
      operationId: getParticipant
      description: |
        Retrieves the current state of a participant.
        
        **Interface Trace:** `OP-ONB-02` (GetParticipantStatus).
      parameters:
        - name: participant_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Participant details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Participant'

  /participants/{participant_id}/submit:
    post:
      summary: Submit Application
      operationId: submitParticipant
      description: |
        Locks the draft and submits it for Eurosystem verification.
        
        **Functional Trace:** Executes Transition `TR-03` (DRAFT -> SUBMITTED).
        **Interface Trace:** `OP-ONB-01` (SubmitParticipant).
        **Logic:** Validates mandatory fields (ONB-VAL-02) before transition.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - name: participant_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [legal_name, role, contact_email, jwks_url]
              properties:
                legal_name: 
                  type: string
                role: 
                  type: string
                  enum: [PSP, NCB]
                contact_email:
                  type: string
                  format: email
                jwks_url:
                  type: string
                  format: uri
      responses:
        '200':
          description: Application submitted. State is now SUBMITTED.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Participant'
        '409':
          description: Conflict. Participant is not in DRAFT state (Trace ONB-GEN-02).

  /participants/{participant_id}/activate:
    post:
      summary: Activate Participant
      operationId: activateParticipant
      description: |
        Activates a verified participant, enabling access to operational APIs.
        
        **Functional Trace:** Executes Transition `TR-06` (VERIFIED -> ACTIVE).
        **Interface Trace:** `OP-ONB-03` (ActivateParticipant).
        **Logic:** Performs Key Exchange check (ONB-VAL-03).
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - name: participant_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Activation successful. State is now ACTIVE.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Participant'
        '403':
          description: Forbidden. Participant is not in VERIFIED state (Trace TR-06).

