# ---
# artefact_type: specification
# visibility: public
# audience: everyone
# form: text
# role: specification
# status: normative
# owner: system-architecture
# ---
#
# DISCLAIMER
# ----------
# This OpenAPI specification is NOT an official ECB or Eurosystem API.
#
# It is provided solely for EDUCATIONAL PURPOSES to demonstrate:
# - how functional, interface, and data-model specifications
#   can be realised as machine-readable APIs,
# - how traceability between artefacts can be made explicit,
# - how such artefacts can be governed and validated by automation.
#
# All content is derived from publicly available information
# and reasonable technical assumptions.
# No confidential, proprietary, or insider information is included.

openapi: 3.0.3

info:
  title: User Onboarding API (Alias Service)
  version: "0.1.0"
  description: |
    **FICTIONAL SPECIFICATION** for the Digital Euro Service Platform (DESP) User Onboarding.
    
    This API defines the interface for PSPs to register anonymised User Identity Hashes with the Eurosystem
    to enforce the "One Person / One Identity" rule without revealing PII.
    
    **Traceability Dictionary:**
    - **[SPEC-OB-FUNC]**: `onboarding-functional-spec.md` (State Machine & Logic)
    - **[SPEC-OB-INT]**:  `onboarding-interfaces-spec.md` (Protocol & Headers)
    - **[SPEC-OB-DATA]**: `onboarding-data-model-spec.md` (Data Schemas & Privacy)
    
  contact:
    name: System Architecture
    url: https://github.com/policy-to-production

# Defined in [SPEC-OB-INT] Section 3: Component Inventory
servers:
  - url: https://api.access-gateway.eurosystem.eu/v1
    description: Digital Euro Access Gateway (COMP-EUR-05)

components:
  securitySchemes:
    # Trace: [SPEC-OB-INT] INT-OB-02 (Signature Requirement)
    mTLS:
      type: http
      scheme: mutual
      description: |
        Mutual TLS using eIDAS Qualified Website Authentication Certificates (QWACs).
        Requests must also be signed (JWS-Signature).

  parameters:
    # Trace: [SPEC-OB-INT] INT-OB-04 (Idempotency)
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      schema:
        type: string
        format: uuid
      description: |
        Unique key (UUIDv4) to ensure safe retries. 
        Replayed requests with the same key MUST return the same result.

  schemas:
    # Trace: [SPEC-OB-DATA] Section 5.3 Entity: OnboardingRequest
    OnboardingRequest:
      type: object
      description: The payload for registering a new identity hash.
      required:
        - identity_hash
        - psp_id
      properties:
        identity_hash:
          type: string
          pattern: '^[a-f0-9]{64}$'
          description: |
            Hex-encoded SHA-256 hash of the Salted National ID.
            MUST NOT contain clear-text PII.
            Trace: [SPEC-OB-DATA] DAT-MSG-01, [SPEC-OB-FUNC] REQ-OB-FUNC-01
        psp_id:
          type: string
          pattern: '^[A-Z]{4}[A-Z]{2}[A-Z0-9]{2}([A-Z0-9]{3})?$'
          description: |
            BIC of the requesting PSP.
            Trace: [SPEC-OB-DATA] DAT-MSG-02
        switch_consent:
          type: boolean
          description: |
            Flag to indicate user consent for switching PSPs.
            Overrides DUPLICATE_IDENTITY check.
            Trace: [SPEC-OB-DATA] DAT-MSG-05, [SPEC-OB-FUNC] REQ-OB-FUNC-09

    # Trace: [SPEC-OB-DATA] Section 5.2 Entity: GlobalAliasRecord
    AliasRecord:
      type: object
      description: The authoritative record stored in the Eurosystem Registry.
      required:
        - alias_id
        - status
        - created_at
        - active_psp_id
      properties:
        alias_id:
          type: string
          description: |
            The unique identifier (Hash) stored in Zone B.
            Trace: [SPEC-OB-DATA] DAT-ALS-01
        active_psp_id:
          type: string
          description: |
            BIC of the PSP currently holding the account.
            Trace: [SPEC-OB-DATA] DAT-ALS-05
        status:
          type: string
          enum: [ACTIVE, SUSPENDED]
          description: |
            Current lifecycle state.
            Trace: [SPEC-OB-DATA] DAT-ALS-03, [SPEC-OB-FUNC] Section 4
        created_at:
          type: string
          format: date-time
          description: UTC timestamp of registration.

    # Trace: [SPEC-OB-INT] Section 6 Error Format
    ProblemDetails:
      type: object
      properties:
        type: 
          type: string
        title: 
          type: string
        status: 
          type: integer
        detail: 
          type: string
        instance: 
          type: string
        error_code:
          type: string
          description: Machine-readable error code (e.g., DUPLICATE_IDENTITY).

security:
  - mTLS: []

paths:
  /aliases:
    post:
      summary: Register User Hash
      operationId: registerUserHash
      description: |
        Registers a new User Identity Hash to enforce uniqueness OR executes a Switch.
        
        **Functional Trace:** Executes Transition `TR-OB-03` (Register) or `TR-OB-06` (Switch).
        **Interface Trace:** Corresponds to `OP-OB-01` (Register) and `OP-OB-03` (Switch).
        **Privacy:** Payload MUST NOT contain PII (Trace [SPEC-OB-DATA] DM-OB-03).
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OnboardingRequest'
      responses:
        '201':
          description: |
            Identity Hash registered successfully. 
            User is now potentially in `ACTIVE` state at PSP.
            Trace: [SPEC-OB-INT] STEP-REG-09.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AliasRecord'
        '400':
          description: |
            Bad Request. Payload contains invalid hash format or extraneous fields.
            Trace: [SPEC-OB-INT] INT-OB-01 (Privacy Payload).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '409':
          description: |
            Conflict. The Identity Hash already exists in the Global Registry.
            Trace: [SPEC-OB-FUNC] REQ-OB-FUNC-05, [SPEC-OB-INT] STEP-DUP-05.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'

  /aliases/{identity_hash}:
    get:
      summary: Check User Status
      operationId: checkUserStatus
      description: |
        Queries the current status of an Identity Hash. 
        Used for idempotency checks or to verify existence before onboarding.
        
        **Interface Trace:** `OP-OB-02`.
      parameters:
        - name: identity_hash
          in: path
          required: true
          schema:
            type: string
            pattern: '^[a-f0-9]{64}$'
          description: The SHA-256 hash to query.
      responses:
        '200':
          description: Record found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AliasRecord'
        '404':
          description: Identity Hash not found (User is new).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'

